body{
  margin: 0;
  background-color: #662392;
  font-family: 'Inter', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

.form{
  background-color: #ffffff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 330px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 15px;
  box-shadow: 3px 3px 10px 2px rgb(31, 31, 31);
}

input{
  border: 2px solid black;
  height: 20px;
  width: 75%;
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  
}

input:focus{
  background-color: #f8e5ffd0;
}

.aboutSelf:focus{
  background-color: #f8e5ffd0;
}

.firstName{
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 50px;
}

.lastName{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-right: 50px;
}

.email{
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 50px;
}

.placeOfBirth{
  grid-column: 2/3;
  grid-row: 2/3;
  margin-right: 50px;
}

.phone{
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 50px;
  margin-bottom: 10px;
}

.favoriteFood{
  grid-column: 2/3;
  grid-row: 3/4;
  margin-right: 50px;
  margin-bottom: 10px;
}

.aboutSelf{
  grid-column: 1/3;
  grid-row: 4/5;
  margin: 0 70px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
}

button{
  grid-column: 1/3;
  grid-row: 5/6;
  width: fit-content;
  height: 30px;
  justify-self: center;
  background-color: #662392;
  color: #ffffff;
  border-radius: 5px;
}

.badge{
  background-color: #ffffff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 370px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px 2px rgb(31, 31, 31);
}

.title{
  background-color: #292929;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 400;
  height: 40px;
  margin-bottom: 0;
}

.info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h2{
  padding-left: 50px;
  font-size: 20px;
  word-spacing: -5px;
}

.bName{
  grid-column: 1/2;
  grid-row: 1/2;
  height: 10px;
}

.bBirth{
  grid-column: 1/2;
  grid-row: 2/3;
  height: 10px;
}

.bEmail{
  grid-column: 1/3;
  grid-row: 3/4;
  height: 10px;
}

.bPhone{
  grid-column: 2/3;
  grid-row: 1/2;
  height: 10px;
}

.bFood{
  grid-column: 2/3;
  grid-row: 2/3;
  height: 10px;
}

.bAbout{
  grid-column: 1/3;
  grid-row: 4/5;
  border: 2px solid black;
  margin: 20px 50px;
  height: 140px;
  padding: 5px;
  border-radius: 5px;
}