body{
    background-color: lightblue;
}

.dataInput{
text-align: center;
}

h1{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parentOFUi{
    text-align: center;
}
ul{
    display: inline-block;
}

