body {
  margin: 0;
}

.App{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 5px;
}

.boxes{
  width: 97%;
  height: 300px;
  border: 2px solid black;
  margin: 5px;
}

button{
  width: 100px;
  margin: auto;
}

.smallDj{
  grid-column: 1/2;
}

