body{
  margin: 0;
  background-color: rgb(23, 23, 26);
  font-family: 'Inter', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace; 
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: #cc2a96;
  height: 70px;
  box-shadow: 1px 1px 8px 1px rgb(199, 77, 162);
  font-family: 'Inter', sans-serif;
  margin-bottom: 50px;
}

.nav h1{
  display: flex;
  justify-content: center;
  align-items: center
}

.cl{
  display: flex;
  color:aliceblue;
  padding: 10px;
  margin: 30px auto;
  max-width: 600px;
  line-height: 30px;
}

.infoDiv{
  margin-left: 10px;
}

img{
  height: 200px;
  width: 300px;
  border-radius: 15px;
}

.imgDiv p{
  width: 30px;
  position:absolute;
  margin-left: 20px;
  background-color: #cc2a96;
  padding: 2px;
  display: flex;
  justify-content: center;
  border-radius: 5px ;
}