body{
  background-color: #639;
  margin: 0;
  color: white;
}

.App{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  height: 700px;
  width: 500px;
  background-color: #242424;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 3px 3px 3px 3px rgb(37, 26, 37);
}

h1{
  height: 35px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button{
 margin-top: 10px;
 height: 30px;
 background-color: #639;
 border-radius: 5px;
}

button:hover{
  background-color: rgb(92, 46, 138);
}

.inputBox{
  height: 30px;
  border-radius: 8px;
  text-align: center;
}

.ol{
  border: 1px solid #639;
  border-radius: 20px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
  padding-top: 10px;
}