body{
    background-color: black;
    
}

#bruh{
display: flex;
justify-content: space-around;
border-radius: 25px;
background-color: deeppink;
}

#bruh > a{
    border: 2px solid black;
    border-radius: 25px;
    height:45px;
    width: 45px;
    margin:5px;
    background-color: white;
    text-align: center;
    color:black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

#bruh > a:hover{
    background-color: black;
    color: white;
    border-color:white;
}

.h11{
    color: white;
    text-align: center;
    text-decoration:underline;
}


.homeInfo{
    background-color: white;
    border-radius: 35px;
    text-align: center;
}

.homeInfo p{
    background-color: cyan;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    border: 5px solid;
}

.homeInfo2{
    background-color: white;
    border-radius: 35px;
}

.homeInfo2 p{
    background-color:lime;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    border: 5px solid;
    text-align: center;
}

@media only screen and (min-width: 1280px){
    body{
        background-color: black;
    }
    
    #bruh{
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background-color: deeppink;
    }
    
    #bruh > a{
        border: 2px solid black;
        border-radius: 25px;
        height:45px;
        width: 45px;
        margin:5px;
        background-color: white;
        text-align: center;
        color:black;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
    }
    
    #bruh > a:hover{
        background-color: black;
        color: white;
        border-color:white;
    }
    
    .h11{
        color: white;
        text-align: center;
        text-decoration:underline;
    }
    
    .homeInfo{
        background-color: white;
        border-radius: 35px;
        text-align: center;
        margin: 0 25%;
    }
    
    .homeInfo p{
        background-color: cyan;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 30px 10px 30px;
        margin: 20px;
        border: 5px solid;
    }
    
    .homeInfo2{
        background-color: white;
        border-radius: 35px;
        text-align: center;
        margin: 0 25%;
    }
    
    .homeInfo2 p{
        background-color:lime;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 30px 10px 30px;
        margin: 20px;
        border: 5px solid;
        text-align: center;
    }
}