body{
    background-color: black;
}

h1{
    text-align: center;
    color: white;
}

#box{
text-align: center;
background-color: cyan;
margin: 20% 37.5%;
height: 100px;
display: flex;
flex-direction: column;
justify-content: center;
}

#clicks{
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 20% 25%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timer{
    text-align: center;
    color: aliceblue;
}